.name-swarm {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: block;
  -webkit-animation: fadeInFromNone 1s ease-out;
  -moz-animation: fadeInFromNone 1s ease-out;
  -o-animation: fadeInFromNone 1s ease-out;
  animation: fadeInFromNone 1s ease-out;
}

canvas { 
  outline: none; 
  border: none; 
}
